---
import Documentation from "@/layouts/Documentation.astro"
import { getCollection, getEntry } from "astro:content"
import TableOfContents from "@/components/TableOfContents.astro"
import { documentationTableOfContentsTree, createTableOfContentsFromTree } from "@/utils/table-of-contents"
import { Debug } from "astro:components"

export const prerender = false

const documentation = await getCollection("docs")
const tableOfContentsTree = documentationTableOfContentsTree(documentation)
const docsSlug = `${Astro.params.version}/usage/setup`
const entry = await getEntry("docs", docsSlug)
const { Content, headings } = await entry!.render()
const { versions, tableOfContents } = createTableOfContentsFromTree(tableOfContentsTree, docsSlug)

const path = Astro.url.pathname
function getPluginChoices(search: string) {
	const searchParams = new URLSearchParams(search)
	const server = searchParams.get("server")
	const client = searchParams.get("client")
	const json = searchParams.get("json")
	return { server, client, json }
}
const options = getPluginChoices(Astro.url.search)
---

<Documentation
	decorationText="The Docs."
	title={entry?.data.title}
	tableOfContents={tableOfContents}
	versions={versions}>
	<Content />
	<Debug {options} />
	<a href={`${path}?server=fetch#choose-your-server`}>Test</a>
	<TableOfContents headings={headings} slot="extra" />
</Documentation>
