---
import { Icon } from "astro-icon/components"

interface Props {
	href?: string
	icon?: `ph:${string}` | `simple-icons:${string}` | `/${string}`
}
const { href, icon } = Astro.props
const target = href?.startsWith("http") ? "_blank" : undefined
const rel = href?.startsWith("http") ? "nofollow" : undefined
const isIconComponent = !(icon && icon.startsWith("/"))
---

<a href={href} target={target} rel={rel} class="not-prose btn gap-4 lg:gap-2">
	{icon && (isIconComponent ? <Icon class="w-6 h-6" name={icon} /> : <img class="w-6 h-6" src={icon} />)}
	<span class="flex-grow text-left">
		<slot />
	</span>
</a>
