---
import Layout from "@/layouts/Default.astro"
import { Icon } from "astro-icon/components"
import { IntroText } from "@/components/IntroText.react"
import { versionsAvailable, type TableOfContents } from "@/content/config"
import Prerelease from "@/components/Prerelease.astro"
import NavigationDocs from "@/components/Documentation/NavigationDocs.astro"
import VersionSelection from "@/components/Documentation/VersionSelection.astro"
import Container from "@/components/Container.astro"

interface Props {
	decorationText?: string
	title?: string
	description?: string
	tableOfContents?: TableOfContents
}

const { title = "", decorationText = "", description, tableOfContents = [] } = Astro.props
---

<Layout title={title} description={description}>
	<!-- Side decorations -->
	<div slot="after" class="relative h-full flex flex-col">
		<div class="h-[40svh]"></div>
		<div class="h-14 bg-white/70 lg:hidden -ml-[1px]"></div>
		<div class="flex-grow bg-white -ml-px">
			<Prerelease />
		</div>
	</div>
	<div slot="before" class="lg:hidden relative h-full flex flex-col">
		<div class="h-[40svh]"></div>
		<div class="h-14 bg-white/70 lg:hidden -mr-[1px]"></div>
		<div class="flex-grow bg-white -mr-px">
			<Prerelease />
		</div>
	</div>

	<div class="flex flex-col h-full">
		<!-- Header decoration -->
		<div class="grid grid-cols-12">
			<div class="col-span-12 lg:col-span-12 h-[40svh] flex items-end justify-end">
				<div data-light={decorationText ? "5" : "0"} data-brightness="0.1,0.4" data-size="1.5,2.5" data-offset="1,2">
					<p
						transition:persist="docs-decoration"
						class="font-title text-[2.3rem] sm:text-[3rem] lg:text-[5.5rem] font-semibold text-white uppercase text-right leading-none overflow-hidden">
						<IntroText client:load text={decorationText} />
					</p>
				</div>
			</div>
		</div>

		<!-- Page content -->
		<div class="relative flex-grow grid grid-cols-6 lg:grid-cols-12 gap-x-4">
			<div
				class="bg-white/70 lg:rounded-l-xl -ml-4 pl-4 -mr-4 pr-4 col-span-6 lg:col-span-2 flex justify-between lg:block">
				<button onclick="pageTableOfContents.showModal();" class="lg:hidden btn btn-xs my-4">
					<Icon class="w-3 h-3" name="ph:list-bold" />
					<span>Table of Contents</span>
				</button>
				<div class="py-3">
					<VersionSelection />
				</div>
				<div class="hidden lg:block sticky top-0">
					<NavigationDocs tableOfContents={tableOfContents} />
				</div>
			</div>

			<dialog id="pageTableOfContents" class="modal backdrop:backdrop-blur-sm">
				<Container className="w-full h-full">
					<div slot="before" class="drawer-like bg-white/70 h-full"></div>
					<div class="grid grid-cols-6 lg:grid-col-12 h-full">
						<div
							class="drawer-like col-span-3 px-4 relative z-50 h-full w-full bg-white/70 border-y border-r border-white/70 rounded-r-xl flex flex-col items-stretch">
							<NavigationDocs tableOfContents={tableOfContents} />
						</div>
					</div>
				</Container>
				<form method="dialog" class="fixed inset-0">
					<button class="absolute z-0 inset-0 opacity-0">close</button>
				</form>
			</dialog>

			<div class="bg-white -mr-4 -ml-4 lg:ml-0 col-span-6 lg:col-span-8">
				<Prerelease>
					<div class="grid grid-cols-8 flex-grow gap-x-4">
						<div class="lg:col-start-2 col-span-8 px-4 lg:px-0 lg:col-span-8 flex gap-4 items-center">
							<Icon class="w-6 h-6" name="ph:warning-circle-duotone" />
							<span>
								Prim+RPC is in <a
									class="underline"
									href="https://github.com/doseofted/prim-rpc#release-plan"
									target="_blank">prerelease mode</a
								> and may be unstable until official release.</span
							>
						</div>
					</div>
				</Prerelease>
				<div class="pr-4 pl-4 lg:pl-0 grid grid-cols-8 gap-x-4">
					<div class="py-8 lg:col-start-2 col-span-12 lg:col-span-6">
						<div class="prose max-w-none">
							<slot />
						</div>
						<div class="sticky bottom-0 z-40 bg-gradient-to-t from-white to-transparent -mb-8 lg:mb-8">
							<button
								onclick="onThisPageTableOfContents.showModal()"
								class="lg:hidden btn btn-xs btn-block ring-1 ring-neutral/30 drop-shadow-lg justify-between my-8">
								<div class="flex gap-4">
									<Icon class="w-3 h-3" name="ph:book-bold" />
									<span>On This Page</span>
								</div>
								<Icon class="w-3 h-3" name="ph:caret-down-bold" />
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="hidden lg:block col-span-6 lg:col-span-2 bg-white -mx-4 px-4 lg:-mr-4 lg:pr-4">
				<div class="hidden lg:block -mr-4">
					<Prerelease />
				</div>
				<div class="sticky top-0 lg:py-4 lg:-mx-4">
					<slot name="extra" />
				</div>
			</div>

			<dialog id="onThisPageTableOfContents" class="modal modal-bottom">
				<div class="modal-box shadow-none p-4">
					<form method="dialog">
						<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
							<Icon class="w-4 h-4" name="ph:x-bold" />
						</button>
					</form>
					<div class="mt-8">
						<slot name="extra" />
					</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>
		</div>
	</div>
</Layout>

<style>
	/* Remove thin line before each section provided from DaisyUI */
	ul.content-section::before {
		content: none;
	}
</style>

<style is:global>
	#pageTableOfContents.modal {
		.drawer-like {
			opacity: 0;
			transition: all 300ms;
			transform: translateX(-3rem);
		}

		&[open] .drawer-like {
			opacity: 1;
			transform: translateX(0);
		}
	}
</style>
