---
import { stripIndent } from "common-tags"
import { Code } from "astro/components"
import { Icon } from "astro-icon/components"
import Layout from "@/layouts/Default.astro"
import { HomepageIntro } from "@/components/IntroText.react"
import { client } from "@/client"
import FeatureCard from "@/components/FeatureCard.astro"
import CodeFile from "@/components/Code/CodeFile.astro"
import { readFile } from "node:fs/promises"
import path from "node:path"
import process from "node:process"

const greeting = await client.greetings()

const codeTheme = { lang: "typescript", theme: "material-theme-palenight" } as const

const serverCodeSnippet = stripIndent`
	// define on server:
	export const sayHello = (x, y) => \`\${x}, meet \${y}.\`
	sayHello.rpc = true
`
const clientCodeSnippet = stripIndent`
	// call on client:
	const hello = await sayHello("Backend", "Frontend")
	console.log(hello)
`

const snippetsFolder = path.join(process.cwd(), "src/snippets")
const snippets = [serverCodeSnippet, clientCodeSnippet]

async function getExample(folder: string, filepath: string) {
	const file = await readFile(path.join(snippetsFolder, folder, filepath), "utf-8")
	return { file, filepath }
}

const steps = [
	{
		step: "Write your function",
		details: "No magic involved: they're just plain JavaScript functions.",
		code: await getExample("homepage", "server/module.ts"),
	},
	{
		step: "Create the server",
		details: "We'll use Bun's Fetch API here but pick your favorite runtime/framework.",
		code: await getExample("homepage", "server/index.ts"),
	},
	{
		step: "Create the client",
		details: "We'll use the browser's Fetch API but you can choose your own.",
		code: await getExample("homepage", "client/prim.ts"),
	},
	{
		step: "Call your function",
		details: "Don't think about how you call it. It's handled for you.",
		code: await getExample("homepage", "client/index.ts"),
	},
]

const features = [
	{
		title: "It's Just JavaScript",
		icon: "ph:file-js-bold",
		details: "If you know JavaScript basics, you know how to use Prim+RPC.",
	},
	{
		title: "No Type Guessing",
		icon: "ph:circle-wavy-question-bold",
		details: "Get full type definitions in your client using TypeScript or JSDoc.",
	},
	{
		title: "Zero Client Generation",
		icon: "ph:hourglass-low-bold",
		details: "Calls are generated at runtime, skip the build step, if you want.",
	},
	{
		title: "Bring Your Own Server",
		icon: "ph:computer-tower-bold",
		details: "It's framework agnostic and includes lots of popular integrations.",
	},
	{
		title: "Choose Your Client",
		icon: "ph:laptop-bold",
		details: "Don't like the default method of sending requests? Swap it out.",
	},
	{
		title: "Transport-Agnostic",
		icon: "ph:envelope-simple-open-bold",
		details: "Bridge client/server, web workers, proceses and more. It's not just HTTP.",
	},
	{
		title: "Handle Files",
		icon: "ph:files-bold",
		details: "Files and Blobs are fully supported without all of the extra work.",
	},
	{
		title: "Use Callbacks",
		icon: "ph:brackets-round-bold",
		details: "Use callbacks between server and client: great for real-time events.",
	},
	{
		title: "Advanced Types Supported",
		icon: "ph:cursor-text-bold",
		details: "Use a custom JSON handler to support Dates, RegExps, Errors, and more.",
	},
	{
		title: "Throw Errors",
		icon: "ph:x-circle-bold",
		details: "No error code mapping needed. Errors on the server are errors on the client.",
	},
	{
		title: "Forms Supported",
		icon: "ph:chat-teardrop-text-bold",
		details: "You don't need to process HTML forms. Supports all fields, including files.",
	},
	{
		title: "Build a Public API",
		icon: "ph:cloud-bold",
		details: "Build an API either for internal usage or to share with the world.",
	},
	{
		title: "Batch RPCs",
		icon: "ph:arrows-in-bold",
		details: "Multiple function calls are batched into single requests easily.",
	},
	{
		title: "Share Only What's Allowed",
		icon: "ph:lock-bold",
		details: "Only the functions you explicitly export and mark as RPC are callable.",
	},
	{
		title: "Generate Documentation",
		icon: "ph:notebook-bold",
		details: "Build documentation of your functions directly from your existing TypeDoc.",
	},
	{
		title: "Modular & Test Friendly",
		icon: "ph:checks-bold",
		details: "Function logic is separate from the transport, makes testing easy.",
	},
]
---

<Layout className="homepage-intro">
	<!-- Fancy home introduction -->
	<div
		class="min-h-[calc(100svh-6.5rem)] grid grid-cols-6 lg:grid-cols-12 grid-rows-[1fr_auto]"
		data-light="3"
		data-offset="1.5,1.5"
		data-brightness="0.1,0.3">
		<div class="col-span-6 lg:col-span-12 flex flex-col gap-8 py-4 items-center justify-center">
			{
				snippets.map((snippet, index) => (
					<div
						class:list={[
							index === 0 ? "md:translate-x-16 lg:translate-x-32" : "md:-translate-x-16 lg:-translate-x-32",
						]}>
						<div
							class="homepage-snippets-lights"
							data-light="0"
							data-size="0.4,1"
							data-offset="1.5,3"
							data-brightness="0.5,1">
							<div class="homepage-snippets opacity-0">
								<div class="mockup-code text-sm bg-white/70 border border-white/70 pb-4 w-full max-w-lg">
									<div class="px-4">
										<div class="rounded-lg overflow-hidden bg-prim-space site-code-style">
											<Code {...codeTheme} code={snippet} />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				))
			}
		</div>
		<div class="col-span-6 lg:col-span-12 pb-12">
			<p
				class="font-title text-[2.3rem] sm:text-[3rem] lg:text-[5.5rem] font-semibold text-white uppercase text-right leading-none overflow-hidden">
				<HomepageIntro client:load text={greeting.split("\n")} />
				<div id="scroll-down-parent" class="opacity-0 flex justify-end">
					<Icon id="scroll-down-indicator" class="w-6 h-6 text-white" name="ph:caret-down-bold" />
				</div>
			</p>
		</div>
	</div>

	<!-- Introduce core features -->
	<div class="feature-list grid grid-cols-12 gap-4 py-8">
		<div
			class="col-span-12 xl:col-span-6 max-w-xl xl:max-w-2xl text-white space-y-4 flex flex-col items-center justify-center">
			<p class="font-title text-xl sm:text-2xl lg:text-4xl font-semibold uppercase leading-none w-full">
				RPC for the Rest&nbsp;of&nbsp;Us.
			</p>
			<p class="text-sm lg:text-base w-full">
				Prim+RPC bridges incompatible environments in JavaScript. Call functions defined on the server as if they exist
				on the client, without the setup, event mapping, or wrappers.
			</p>
		</div>
		{
			features
				.map((feature, index) => ({ feature, index }))
				.slice(0, 6)
				.map(({ feature, index }) => (
					<div class="feature-card text-left col-span-6 lg:col-span-4 xl:col-span-3 h-full">
						<FeatureCard {...feature} />
					</div>
				))
		}
	</div>

	<div class="grid grid-cols-12 gap-4 py-8">
		<div
			class="col-span-8 xl:col-span-6 max-w-xl xl:max-w-2xl text-white space-y-4 flex flex-col items-center justify-center">
			<p class="font-title text-xl sm:text-2xl lg:text-4xl font-semibold uppercase leading-none w-full">
				It Works With That.
			</p>
			<p class="text-sm lg:text-base w-full">
				Prim+RPC is designed to work with your existing tools. It's sole focus is to create and respond to RPC, not to
				dicate what tools that you use to send it.
			</p>
		</div>
		<div
			class="feature-list col-span-12 grid grid-cols-1 lg:grid-cols-2 gap-4 bg-white/70 rounded-xl border border-white/60 p-4 text-prim-space">
			{
				steps.map(({ step, details, code }, index) => (
					<div class="feature-card h-full flex flex-col space-y-4">
						<div class="flex items-start gap-2">
							<div class="avatar placeholder -top-0.5">
								<div class="bg-prim-space text-white rounded-full w-8">
									<span class="text-sm font-bold">{index + 1}</span>
								</div>
							</div>
							<div>
								<p class="font-bold text-base md:text-lg">
									<span>{step}</span>
								</p>
								<p class="text-sm lg:text-base">{details}</p>
							</div>
						</div>
						<CodeFile filename={code.filepath} codeProvider="astro" overrideClass="flex-grow">
							<Code {...codeTheme} code={code.file} />
						</CodeFile>
					</div>
				))
			}
		</div>
	</div>

	<!-- Show even more features -->
	<div class="feature-list grid grid-cols-12 gap-4 py-8">
		<div
			class="lg:row-start-2 col-span-8 xl:col-span-6 max-w-xl xl:max-w-2xl text-white space-y-4 flex flex-col items-center justify-center">
			<p class="font-title text-xl sm:text-2xl lg:text-4xl font-semibold uppercase leading-none w-full">
				Oh, but that&apos;s not all.
			</p>
			<p class="text-sm lg:text-base w-full">
				Prim+RPC does the heavy lifting so you can use JavaScript features between server and client that would
				otherwise be difficult.
			</p>
		</div>
		{
			features
				.map((feature, index) => ({ feature, index }))
				.slice(6)
				.map(({ feature, index }) => (
					<div class="feature-card text-left col-span-6 lg:col-span-4 xl:col-span-3">
						<FeatureCard {...feature} />
					</div>
				))
		}
	</div>

	<div
		data-light="20"
		data-brightness="0.1,0.3"
		data-size="0.5,0.6"
		data-offset="1,1"
		class="grid grid-cols-12 text-center justify-items-center gap-4 py-8 mt-12 mb-20">
		<div class="col-span-12 text-white space-y-4">
			<p class="font-title text-xl sm:text-2xl lg:text-4xl font-semibold uppercase leading-none">
				It&apos;s Available Now. Right Now.
			</p>
			<p class="text-sm lg:text-base w-full pb-2">Easy to setup, lots of features, and open source. Try it out!</p>
			<div class="flex flex-wrap lg:flex-nowrap justify-center gap-4">
				<a href="/docs" class="btn glass hover:bg-neutral text-white">
					<Icon class="w-6 h-6" name="ph:notebook-fill" />
					 Get Started
				</a>
				<a href="/docs/examples" class="btn glass hover:bg-neutral text-white">
					<Icon class="w-6 h-6" name="ph:terminal-window-fill" />
					 Try An Example
				</a>
				<div class="w-full block lg:hidden"></div>
				<a href="/docs/features" class="btn glass hover:bg-neutral text-white">
					<Icon class="w-6 h-6" name="ph:lightbulb-fill" />
					 Learn to Use
				</a>
				<a href="/docs/plugins/create" class="btn glass hover:bg-neutral text-white">
					<Icon class="w-6 h-6" name="ph:plug-fill" />
					 Plugins
				</a>
			</div>
		</div>
	</div>

	<!-- Feature expansions -->
	<!-- {
		features.map((feature, index) => (
			<dialog id={`featureModal${index}`} class="modal bg-black/50 duration-500">
				<div class="modal-box max-w-screen-lg bg-white/80 backdrop-blur-sm">
					<form method="dialog">
						<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
							<Icon name="ph:x-bold" class="w-4 h-4 inline-block" />
						</button>
					</form>
					<div class="space-y-4">
						<p class="font-title text-xl sm:text-2xl lg:text-4xl font-semibold leading-none w-full">{feature.title}</p>
						<p class="text-sm lg:text-base w-full">{feature.details}</p>
					</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>Close</button>
				</form>
			</dialog>
		))
	} -->
</Layout>

<script>
	import { $navigationHappened } from "@/utils/store"
	import { animate, inView, stagger } from "motion"

	const startDefault = 1.8
	function introAnimation(start = startDefault) {
		const scrollIndicatorParent = document.getElementById("scroll-down-parent") as HTMLElement
		animate(scrollIndicatorParent, { opacity: [0, 1] }, { duration: 1, delay: start === startDefault ? 2.5 : 0 })
		const scrollIndicator = document.getElementById("scroll-down-indicator") as HTMLElement
		animate(scrollIndicator, { y: [0, 10, 0] }, { duration: 1.5, repeat: Infinity, easing: ["ease-out", "ease-in"] })

		for (const featureCard of document.querySelectorAll<HTMLElement>(".feature-card")) {
			featureCard.style.opacity = "0"
		}
		inView(
			document.querySelectorAll(".feature-list"),
			info => {
				animate(
					info.target.querySelectorAll(".feature-card"),
					{ opacity: [0, 1] },
					{ duration: 0.9, delay: stagger(0.1) }
				)
			},
			{ amount: 0.2 }
		)

		const slideIn = {
			y: ["3rem", "0rem"],
			opacity: [0, 1],
		}
		const codeSnippetsLights = document.querySelectorAll<HTMLElement>(".homepage-snippets-lights")
		setTimeout(() => {
			for (const snippet of codeSnippetsLights) {
				snippet.setAttribute("data-light", "7")
			}
		}, start * 1000)
		const codeSnippets = document.querySelectorAll<HTMLElement>(".homepage-snippets")
		animate(codeSnippets, slideIn, { delay: stagger(0.2, { start, from: "last" }), duration: 0.9 })
		// navigation only needs to be animated on first load
		const pageLogo = document.querySelector<HTMLElement>(".prim-logo-container")
		const navigationElem = document.querySelectorAll<HTMLElement>(".prim-navigation")
		if (start === startDefault) {
			pageLogo?.setAttribute("data-light", "0") // set to 0 initially until animated in
			setTimeout(() => pageLogo?.setAttribute("data-light", "7"), (start + 0.6) * 1000)
			animate(navigationElem, { ...slideIn, y: ["-3rem", "0rem"] }, { delay: start + 0.4, duration: 0.9 })
		} else {
			document.body.classList.remove("homepage-intro")
		}
	}
	document.addEventListener("astro:after-swap", () => {
		if (location.pathname !== "/") return
		introAnimation(0)
	})
	introAnimation($navigationHappened.value ? 0 : startDefault)
</script>

<style is:global>
	/* These elements are animated and should be moved to starting positions */
	body.homepage-intro {
		.prim-navigation {
			opacity: 0;
		}
	}
</style>
